@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" /> 
    <link href="~/Content/bootstrap.css" rel="stylesheet" /> <title>Thanks</title>
    <style>
        body{background-color: #F1F1F1;}
    </style>
</head>
<body>
    @{
        try
        {
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 465;
            WebMail.EnableSsl = true;
            WebMail.UserName = "your username";
            WebMail.Password ="your password";
            WebMail.From = "RSVP@gmail.com";

            WebMail.Send("your email", "RSVP Notification", Model.Name + "is" + ((Model.WillAttend ?? false) ? "" : "not")
                + "attending");
        }
        catch (Exception)
        {
            @:<b>Sorry - we couldn't send the email to confirm your RSVP</b>
        }
    }
    <div class="text-center">
        <h1>Thanks you, @Model.Name</h1>
        <div class="lead">
        @if (Model.WillAttend == true)
        {
            @: it is good that you like Awsomeness
        }
        else
        {
            @: it's ok to be lame
        }
        </div>
    </div>
</body>
</html>
